@{
    ViewBag.Title = "Manage your assets";
}
<h3>Account Summaries</h3>
<div class="account secure">
	<dl>
		<dt>Name</dt><dd>CSRF protected account</dd>
		<dt>Value</dt><dd>$@ViewBag.Balance.Secure</dd>
	</dl>

    @using (Html.BeginForm("Secure","BankAccount"))
    {
        @Html.AntiForgeryToken()
        <input type="number" value="100" name="amount"></input>
        <button value="withdraw" name="mode">Withdraw</button>
        <button value="deposit" name="mode">Deposit</button>
    }
</div>
<div class="account unchecked">
	<dl>
		<dt>Name</dt><dd>Unprotected Account</dd>
		<dt>Value</dt><dd>$@ViewBag.Balance.Insecure</dd>
	</dl>

	@using (Html.BeginForm("Insecure", "BankAccount"))
     {
     	<input type="number" value="100" name="amount"></input>
        <button value="withdraw" name="mode">Withdraw</button>
        <button value="deposit" name="mode">Deposit</button>
     }
	</form>
</div>
<div class="account getbased">
	<dl>
		<dt>Name</dt><dd>Misuse of get account</dd>
		<dt>Value</dt><dd>$@ViewBag.Balance.Nonstandard</dd>
	</dl>

    @using (Html.BeginForm("Nonstandard", "BankAccount", FormMethod.Get))
     {
	    <input type="number" value="100" name="amount"></input>
        <button value="withdraw" name="mode">Withdraw</button>
        <button value="deposit" name="mode">Deposit</button>
     }
</div>
<a href="http://jsfiddle.net/4R7Hn/">Get based csrf attack.</a>
<a href="http://jsfiddle.net/LGwjM/">Cross page forms post csrf attack.</a>
