@{
    ViewBag.Title = "Manage your assets";
}
<h3>Account Summaries</h3>
<div class="account secure">
	<dl>
		<dt>Name</dt><dd>CSRF protected account</dd>
		<dt>Value</dt><dd>$@ViewBag.Balance</dd>
	</dl>
    @using (Html.BeginForm("Secure","BankAccount"))
    {
        @Html.AntiForgeryToken()
        <input type="number" value="100" name="amount"></input>
        <input type="submit" value="withdraw" name="action"></input>
        <input type="submit" value="deposit" name="action"></input>
    }
</div>
<div class="account unchecked">
	<dl>
		<dt>Name</dt><dd>Unprotected Account</dd>
		<dt>Value</dt><dd>$@ViewBag.Balance</dd>
	</dl>
	@using (Html.BeginForm("SecureWithdraw", "BankAcount"))
     {
     	<input type="number" value="100" name="amount"></input>
		<button value="withdraw">Withdraw</button>
		<button value="withdraw">Deposit</button>
     }
	</form>
</div>
<div class="account getbased">
	<dl>
		<dt>Name</dt><dd>Misuse of get account</dd>
		<dt>Value</dt><dd>$@ViewBag.Balance</dd>
	</dl>
	<input type="number" value="100" name="amount"></input>
	<button value="withdraw">Withdraw</button>
	<button value="withdraw">Deposit</button>
</div>